html,
* {
	cursor: url("./cursor.png"), default;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	user-select: none;
}

body {
	font-size: 1.4rem;
	font-family: monospace;
	max-width: 900px;
	margin: auto;
	background: #111;
	color: #eee;
}

#links a {
	display: block;
}

a {
	font-size: 13px;
	text-align: center;
	text-decoration: none;
	font-weight: normal;
	font-style: normal;
	color: #eee;
}

a:hover {
	color: rgb(130, 255, 255);
	text-decoration: underline;
}

.artwork {
	display: block;
	margin: auto;
	max-width: min(90vw, 520px);
	height: auto;
}

.bg {
	position: fixed;
	top: -50%;
	left: -50%;
	right: -50%;
	bottom: -50%;
	width: 200%;
	height: 200vh;
	background: transparent url("./noise.png") repeat 0 0;
	background-repeat: repeat;
	animation: bg-animation 0.2s infinite;
	opacity: 0.9;
	visibility: visible;
	z-index: -1;
}

.center {
	position: fixed;
	text-align: center;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	padding-bottom: 50px;
}

@media (max-height: 700px) {
	.artwork {
		margin-bottom: 20px;
		max-width: min(80vw, 360px);
	}
}

@keyframes bg-animation {
	0% {
		transform: translate(0, 0);
	}

	10% {
		transform: translate(-5%, -5%);
	}

	20% {
		transform: translate(-10%, 5%);
	}

	30% {
		transform: translate(5%, -10%);
	}

	40% {
		transform: translate(-5%, 15%);
	}

	50% {
		transform: translate(-10%, 5%);
	}

	60% {
		transform: translate(15%, 0);
	}

	70% {
		transform: translate(0, 10%);
	}

	80% {
		transform: translate(-15%, 0);
	}

	90% {
		transform: translate(10%, 5%);
	}

	100% {
		transform: translate(5%, 0);
	}
}
